{{#each post as |post|}}
<div id="post-container">
  <div id="post">
    <div id="photo-container">
      <div id="photo">
        <img class="fill" src="{{this.post_image}}">
      </div>
    </div>

    <div id="meta-container">
      <div id="meta">
        <div class="photo-header">
          <label class='title-js'>{{this.post_title}}</label>
          <br>
          <br>
          <br>
          <span class="author">by <a href="/{{this.post_author}}"> {{this.post_author}} </a></span>
          <br>
          <span class="date">{{this.post_elapsed}}</span> <br>
        </div>
        <hr>
        <div class="photo-description ">
         <p class='desc-js'>&ensp;{{this.post_description}}</p>
        </div>
        <div class="photo-actions">
          <img class="socact-action" src="img/heart.png">
          <button href='#' class="socact-container" data-toggle="modal" data-target="#{{this.post_id}}">
            <img class="socact-action" src="img/comment.png">
          </button>
          <img class="socact-action" src="img/share.png">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="{{this.post_id}}" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content row">
      <!-- Modal body -->
      <div class="modal-photo-container col-xs-6 class">
        <div class="pic-col">
          <img class="fill" src="{{this.post_image}}">
        </div>
      </div>
      <div class="modal-comment-container col-xs-6 class">
        <div class="comment-container">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="modal-header">
            Comments
          </div>

          <div class="comments">
            {{#each comment as |comment|}}
            <div class="comment-cont">
              <img src="{{this.virtualPath}}">
              <div class="row-name">
                <strong>{{this.name}}</strong>
                <div class="row-comment text-break">
                  {{this.text}}
                </div>
              </div>
            </div>
            {{/each}}

            <div class="comment-form">
              <form  method='POST' action='/addcomment' class="col-lg">
                <div class="form-row">
                  <div class="comment-input">
                    <input name='comment' class="addcomment form-control mr-sm-2" type="text" placeholder="comment" aria-label="Search">
                    <input type='hidden' name='hidden_id' value='{{this.post_id}}'>
                  </div>
                  <div class="comment-button">
                    <button type="submit" class="addcommentbtn btn btn-secondary">Comment</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}
