<div id="post-view-container">
  <div id="post-container">
    {{#each post as |post|}}
    <div id="post" class="post">
      <div id="photo-container">
        <div id="{{this.orientation}}" style="background-image:url('{{this.post_image}}');">
        </div>
      </div>

      <div id="meta-container">
        <div id="meta">
          <div class="photo-header">
            <label class='title-js'>{{this.post_title}}</label>
            <br>
            <br>
            <br>
            <span class="author">by <a href="/{{this.post_author}}"> {{this.post_author}} </a></span>
            <br>
            <span class="date">{{this.post_elapsed}}</span> <br>
          </div>
          <hr>
          <div class="photo-description ">
            <p class='desc-js'>&ensp;{{this.post_description}}</p>
          </div>
          <div class="photo-actions">
            {{#if liked}}
            <a href="#" id="liked" class="{{this.post_id}}">
              <img class="socact-action" src="img/heart2.png" id="likedpic">
            </a>
            {{else}}
            <a href="#" id="unliked" class="{{this.post_id}}">
              <img class="socact-action" src="img/heart.png" id="unlikedpic">
            </a>
            {{/if}}
            <a href='#' class="socact-container" data-toggle="modal" data-target='#{{this.post_id}}'>
              <img class="socact-action" src="img/comment.png">
            </a>
            <a href="https://twitter.com/intent/tweet?text=foliodb.herokuapp.com/{{this.post_author}}" class="socact-container" target="_blank">
              <img class="socact-action" src="img/share.png">
            </a>
            {{#if status}}
            <a href='#' class='edit-post socact-container' data-toggle='modal' data-target='#{{this.edit_id}}'>
              <img class='socact-action' src='img/options.png'>
            </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

{{#each post as |post|}}
<div class="modal fade" id="{{this.post_id}}" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content row">
      <!-- Modal body -->
      <div class="modal-photo-container col-xs-6 class">
        <div class="pic-col">
          <img class="fill" src="{{this.post_image}}">
        </div>
      </div>
      <div class="modal-comment-container col-xs-6 class">
        <div class="comment-container">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="modal-header">
            Comments
          </div>

          <div class="comments">
            {{#each comment as |comment|}}
            <div class="comment-cont">
              <img src="{{this.virtualPath}}">
              <div class="row-name">
                <strong>{{this.name}}</strong>
                <div class="row-comment text-break">
                  {{this.text}}
                </div>
              </div>
            </div>
            {{/each}}
          </div>
          <div class="comment-form">
            <form method='POST' action='/addcomment' class="col-lg">
              <div class="form-row">
                <div class="comment-input">
                  <input name='comment' class="addcomment form-control mr-sm-2" type="text" placeholder="comment" aria-label="Search">
                  <input type='hidden' name='hidden_id' value='{{this.post_id}}'>
                </div>
                <div class="comment-button">
                  <button type="submit" class="addcommentbtn btn btn-secondary">Comment</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--EDIT POST MODAL-->
<div class="modal fade" id="{{this.edit_id}}" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content row">
      <!-- Modal body -->
      <div class="modal-post-header">
        <div class="pic-row">
          <img class="fill-row" src="{{this.post_image}}">
        </div>
      </div>

      <div class="modal-post-container">
        <div class="modal-header">
          Edit Post
        </div>

        <form id = 'editPostForm' method='POST' action='/editprocessing'>
          <div class="modal-post-fields form-group">
            <input name='hidden_editID' type='hidden' value='{{this.post_id}}'>
            <labelfor="addposttitle">Title</label>
            <textarea placeholder="Title" name="edit_title" value='' class="addposttitle form-control" row="1" type="text" aria-label="Search" maxlength = "15">{{this.post_title}}</textarea>
            <label for="addpostdesc">Description</label>
            <textarea name='edit_desc' class="addpostdesc form-control" rows="3" type="text" placeholder="Description">{{this.post_description}}</textarea>
          </div>
          <div class="container" id="buttonCont" align="center">
            <button type="submit" class="editpostbtn">Edit Post</button>
          </form>
          <form method='POST' action='/deletepost'>
            <input name='hidden_deleteID' type='hidden' value='{{this.post_id}}'>
            <button type="submit" class="delpostbtn">Delete Post</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
{{/each}}
