{{#each post}}
<div id="post-container">
    <div id="post">
      <div id="photo-container">
        <div id="photo">
          <img class="fill" src="{{this.post_image}}">
        </div>
      </div>

      <div id="meta-container">
        <div id="meta">
          <div class="photo-header">
            {{this.post_title}}
            <br>
            <br>
            <span class="author">by {{this.post_author}}</span>
            <br>
            <span class="date">{{this.post_elapsed}}</span> <br>
          </div>
          <hr>
          <div class="photo-description">
            {{this.post_description}}
          </div>
          <div class="photo-actions">
            <img class="socact-action" src="img/heart.png">
            <a href="#" class="socact-container" data-toggle="modal" data-target="#feedModal">
              <img class="socact-action" src="img/comment.png">
            </a>
            <img class="socact-action" src="img/share.png">
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}
