<div class="profile-details-container">
      <div class="prof-header-center">
        <div class = "profile-image-container">
          <div class="prof-img-cont">
            <img  class = "fill" src="{{avatar}}">
          </div>
          {{#if status}}
            <!-- FOLLOW/UNFOLLOW -->
            {{#if follow}}
              <div>
                <button type="button" id="unfollow" class="btn btn-primary profbtn">
                  Unfollow 
                </button>
              </div>
            {{else}}
              <div>
                <button type="button" id="follow" class="btn btn-primary profbtn">
                  Follow
                </button>
              </div>
            {{/if}}
          {{else}}
            <div>
              <button type="button" id="edit-prof" class="btn btn-primary profbtn" data-toggle="modal" data-target="#accset">
                Edit Profile
              </button>
            </div>
          {{/if}}
        </div>

        <div class="profile-data">
          <div class="profile-name"  id="pname">{{name}}</div>
          <div class="profile-handle" id="handle">@{{username}}</div>
          <br>
          <div class="user-location" id="loc">{{location}}</div>
          <div class="user-desc" id="bio">{{bio}}</div>
        </div>
      </div>
</div>
