<div class="profile-details-container">
      <div class="prof-header-center">
        <div class = "profile-image-container">
          <div class="prof-img-cont">
            <img  class = "fill" src="img/{{avatar}}">
          </div>

          <div>
            <button type="button" class="btn btn-primary" id="follow">
              Follow <!-- FOLLOW/UNFOLLOW -->
            </button>
          </div>
        </div>

        <div class="profile-data">
          <div class="profile-name"  id="pname">{{name}}</div>
          <div class="profile-handle" id="handle">{{username}}</div>
          <br>
          <div class="user-location" id="loc">{{location}}</div>
          <div class="user-desc" id="bio">{{bio}}</div>
        </div>
      </div>
</div>